<table *ngIf="cantRememberOld == false">
    <tr>
        <td><label for="">Stara lozinka</label></td>
        <td><input type="text" [(ngModel)]="old_password"></td>
    </tr>
    <tr>
        <td><label for="">Nova lozinka</label></td>
        <td><input type="text" [(ngModel)]="new_password"></td>
    </tr>
    <tr>
        <td colspan="2"><label for="lostPw" (click)="changeVariation()">Ne secam se svoje stare lozinke</label></td>
    </tr>
    <tr>
        <td><button (click)="changePassword()">Promeni lozinku</button></td>
    </tr>
</table>

<table *ngIf="cantRememberOld == true">
    <div>
        <tr>
            <td><label for="">Korisnicko ime</label></td>
            <td><input type="text" [(ngModel)]="username"></td>
        </tr>
        <tr>
            <td><button (click)="findUser()">Pronadji me</button></td>
        </tr>
    </div>
    <div *ngIf="foundUser == true">
        <hr>
        <p>Step 2</p>
        <tr>
            <td>Bezbednosno pitanje:</td>
            <td>{{ seq_question }}</td>
        </tr>
        <tr>
            <td>Odgovor:</td>
            <td><input type="text" [(ngModel)]="seq_answer"></td>
        </tr>
        <tr>
            <td><button (click)="answerQuestion()">Odgovori</button></td>
        </tr>
    </div>

    <div *ngIf="answeredCorrect == true">
        <hr>
        <p>Step 3</p>
        <tr>
            <td><label for="">Nova lozinka</label></td>
            <td><input type="password" [(ngModel)]="new_password"></td>
        </tr>
        <tr>
            <td><label for="">Nova lozinka ponovljeno</label></td>
            <td><input type="password" [(ngModel)]="new_password_repeated"></td>
        </tr>
        <tr>
            <td>
                <button (click)="changePassword()">Promeni lozinku</button>
            </td>
        </tr>
    </div>
    <tr>
        <td colspan="2"><label for="lostPw" (click)="changeVariation()">Secam se stare lozinke</label></td>
    </tr>
</table>
<p>{{ message }}</p>