<body>
    <div class="containter">
        <div class="row">
            <div class="col-sm-12">
                <h2>Profil</h2>
                <h4>Dobrodosli, {{user.personalInfo.first_name}}</h4>
                <h4>{{message}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Avatar">
                <table class="table text-center table-sm">
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>E-mail</th>
                    <th>Telefon</th>
                    <th>Adresa</th>
                    <th>Predmeti</th>
                    <tr>
                        <td>
                            <p>{{user.personalInfo.first_name}}</p>
                        </td>
                        <td>
                            <p>{{user.personalInfo.last_name}}</p>
                        </td>
                        <td>
                            <p>{{user.personalInfo.email}}</p>
                        </td>
                        <td>
                            <p>{{user.personalInfo.phone}}</p>
                        </td>
                        <td>
                            <p>{{user.personalInfo.address}}</p>
                        </td>
                        <td>
                            <p>{{user.schoolInfo.subjects}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <p (click)="changeInfoToggle()">Azuriraj podatke?</p>
                <form *ngIf="changeInfo">
                    <div class="form-group">
                        <label for="">Ime</label>
                        <input type="text" [(ngModel)]="first_name" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="">Prezime</label>
                        <input type="text" [(ngModel)]="last_name" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="">E-mail</label>
                        <input type="text" [(ngModel)]="email" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="">Telefon</label>
                        <input type="text" [(ngModel)]="phone" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="">Adresa</label>
                        <input type="text" [(ngModel)]="address" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="">Profilna slika</label>
                        <input type="file" (change)="onAvatarChange($event)" accept="image/*"
                            class="form-control form-control-sm-file">
                    </div>
                    <button (click)="changeInformation()">Izmeni</button>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <table class="table table-sm text-center" *ngIf="changeInfo">
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>E-mail</th>
                    <th>Telefon</th>
                    <th>Adresa</th>
                    <th>Profilna slika:</th>
                    <tr>
                        <td>
                            <p><input type="text" [(ngModel)]="first_name"></p>
                        </td>
                        <td>
                            <p><input type="text" [(ngModel)]="last_name"></p>
                        </td>
                        <td>
                            <p><input type="text" [(ngModel)]="email"></p>
                        </td>
                        <td>
                            <p><input type="text" [(ngModel)]="phone"></p>
                        </td>
                        <td>
                            <p><input type="text" [(ngModel)]="address"></p>
                        </td>
                        <td>
                            <input type="file" (change)="onAvatarChange($event)" accept="image/*">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <button (click)="changeInformation()">Izmeni</button>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>Zahtevi za casovima</h3>
                <table class="table text-center table-sm">
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Predmet</th>
                    <th>Cilj</th>
                    <th>Datum i vreme pocetka</th>
                    <th>Datum i vreme kraja</th>
                    <tr *ngFor="let r of classRequests">
                        <td>{{r.personalInfo.first_name}}</td>
                        <td>{{r.personalInfo.last_name}}</td>
                        <td>{{r.classInfo.class}}</td>
                        <td>{{r.classInfo.topic}}</td>
                        <td>{{r.classInfo.formattedDateStart}}</td>
                        <td>{{r.classInfo.formattedDateEnd}}</td>
                        <td><button (click)="acceptClass(r._id)">Potvrdi</button></td>
                        <td><button (click)="declineClass(r._id)">Odbij</button></td>
                    </tr>
                </table>
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <h3>Odobreni casovi</h3>
                <table class="table text-center table-sm">
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Predmet</th>
                    <th>Cilj</th>
                    <th>Datum i vreme pocetka</th>
                    <th>Datum i vreme kraja</th>
                    <tr *ngFor="let r of acceptedRequests">
                        <td>{{r.personalInfo.first_name}}</td>
                        <td>{{r.personalInfo.last_name}}</td>
                        <td>{{r.classInfo.class}}</td>
                        <td>{{r.classInfo.topic}}</td>
                        <td>{{r.classInfo.formattedDateStart}}</td>
                        <td>{{r.classInfo.formattedDateEnd}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <hr>
                <h3>Moji ucenici</h3>
                <table class="table table-sm text-center">
                    <th>Predmet</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <tr *ngFor="let r of myStudents">
                        <td>{{r.personalInfo.first_name}}</td>
                        <td>{{r.personalInfo.last_name}}</td>
                        <td><a [href]="'details/' + r.username">Detalji</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>