<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <h2>Admin Login</h2>
            
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" [(ngModel)]="username" required>
            
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" [(ngModel)]="password" required>
            
                    <button type="submit" (click)="login()">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>