<h2>Admin panel</h2>
<h3>{{ message }}</h3>
<table class="admin-table">
    <thead>
        <tr>
            <th>Korisnicko ime</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>CV</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of requests">
            <td>{{ r.username }}</td>
            <td>{{ r.first_name }}</td>
            <td>{{ r.last_name }}</td>
            <td><a (click)="openPDF(r.CV)">View CV</a></td>
            <td><button (click)="acceptTeacher(r.username)">Odobri</button></td>
            <td><button (click)="declineTeacher(r.username)">Odbij</button></td>
        </tr>
    </tbody>
</table>
