<body>
    <div class="container">
        <h2>Profil</h2>
        <h4>Dobrodosli, {{user.personalInfo.first_name}}</h4>
        <h4>{{message}}</h4>
        <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Avatar">
        <div class="row">
            <div class="col-sm-12">
                <table class="table text-center">
                    <tr>
                        <td>
                            <p>Ime:</p>
                            <p>{{user.personalInfo.first_name}}</p>

                        </td>
                        <td>
                            <p>Prezime:</p>
                            <p>{{user.personalInfo.last_name}}</p>
                        </td>
                        <td>
                            <p>E-mail:</p>
                            <p>{{user.personalInfo.email}}</p>
                        </td>
                        <td>
                            <p>Telefon:</p>
                            <p>{{user.personalInfo.phone}}</p>
                        </td>
                        <td>
                            <p>Adresa:</p>
                            <p>{{user.personalInfo.address}}</p>
                        </td>
                        <td>
                            <p>Tip skole:</p>
                            <p>{{user.schoolInfo.school_type}}</p>
                        </td>
                        <td>
                            <p>Trenutni razred:</p>
                            <p>{{user.schoolInfo.currentGrade}}</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <p (click)="changeInfoToggle()">Azuriraj podatke?</p>
                    <form *ngIf="changeInfo">
                        <div class="form-group">
                            <label for="">Ime</label>
                            <input type="text" name="first_name" [(ngModel)]="first_name" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="">Prezime</label>
                            <input type="text" name="last_name" [(ngModel)]="last_name" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="">E-mail</label>
                            <input type="text" name="email" [(ngModel)]="email" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="">Telefon</label>
                            <input type="text" name="phone" [(ngModel)]="phone" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="">Tip skole</label>
                            <select name="tip_skole" (change)="checkSchoolType()" [(ngModel)]="school_type" class="form-control form-control-sm">
                                <option value="osnovna" *ngIf="user.schoolInfo.school_type !== 'osnovna'" selected>Osnovna skola</option>
                                <option value="srednja-gimnazija">Srednja-gimnazija</option>
                                <option value="srednja-strucna">Srednja-strucna</option>
                                <option value="Srednja-umetnicka">Srednja-umetnicka</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Adresa</label>
                            <input type="text" name="address" [(ngModel)]="address" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="">Trenutni razred</label>
                            <input type="number" name="tren_razred" id="" *ngIf="switchNumbers == false && (user.schoolInfo.currentGrade < 8 && user.schoolInfo.school_type == 'osnovna')" [(ngModel)]="currectGrade" min=1 max=8 required>
                            <input type="number" name="tren_razred" id="" *ngIf="switchNumbers == true || (user.schoolInfo.currentGrade == 8 && !isSrednja()) || isSrednja()" [(ngModel)]="currectGrade" min=1 max=4 required>

                        </div>
                        <div class="form-group">
                            <label for="">Profilna slika</label>
                            <input type="file" name="img" (change)="onAvatarChange($event)" accept="image/*" class="form-control form-control-sm-file">
                        </div>
                        <button (click)="changeInformation()">Izmeni</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <h3>Nastavnici</h3>
                <table class="table text-center">
                    <tr>
                        <td>Ime:</td>
                        <td><input type="text" [(ngModel)]="first_name_search"></td>
                        <td>Prezime:</td>
                        <td><input type="text" [(ngModel)]="last_name_search"></td>
                        <td>Predmet:</td>
                        <td><input type="text" [(ngModel)]="subjects_search"></td>
                        <button (click)="search()">Pretrazi</button>
                    </tr>
                </table>
            </div>
        </div>

        <hr>
        <div class="row">

            <div class="col-sm-12">
                <table class="table text-center">
                    <th (click)="sortByName()">Ime</th>
                    <th (click)="sortByLastName()">Prezime</th>
                    <th (click)="sortBySubjects()">Predmeti</th>
                    <tr *ngFor="let teacher of teachers">
                        <td>{{teacher.personalInfo.first_name}}</td>
                        <td>{{teacher.personalInfo.last_name}}</td>
                        <td>{{teacher.schoolInfo.subjects}}</td>
                        <td><a [href]="'details/' + teacher.username">Detalji</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</body>